// Last Articles //

section.last_articles {
    .container-articles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: '. . .';
        gap: 20px;

        li {
            list-style: none;
        }
    }
}


// Responsive média queries //

@media screen and (max-width: 1024px) {
    section.last_articles {
        .container-articles {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: '. .';
        }
    }
}

@media screen and (max-width: 768px) {
    section.last_articles {
        .container-articles {
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas: '.';
        }
    }
}