@import 'variables';

*, *::before, *::after {
    font-family: 'Lexend', sans-serif;
    font-family: 'Mulish', sans-serif;
}

body{
    background-color: $bg-primary;
}

input, button, textarea, select {
    background-color: $bg-button;
    color: $is-color-button;
}

h1, h2, h3, h4, h5, h6 {
    color: $is-color-heading;
}

p, a{
    color: $is-color-paragraph;
}

a{
    text-decoration: none;
}

.container{
    width: clamp(200px, 100%, 1200px);
    margin: 100px auto;
}

.is-hidden{
    display: none;
}

.is-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}