.map-top-view {
    position: relative;
    width: 500px;
    aspect-ratio: 1;

    .pin {
        width: 16px;
        height: 16px;
        background-color: red;
        border-radius: 50%;
        position: absolute;
        cursor: pointer;

        &.pin-throwing {
            background-color: blue;
        }

        &.pin-landing {
            height: 30px;
            width: 30px;
            background-color: transparent;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
}

.main-content-map {
    display: grid;
    grid-template-areas: '. .';
    grid-template-columns: repeat(2, 1fr);
}

button.active {
    background-color: #31b71c;
    /* Par exemple, une couleur bleue pour indiquer l'élément actif */
    color: #fff;
    /* Couleur de texte en surbrillance */
}