
/* Elements */
$bg-primary: #16161a;
$bg-button: #7f5af0;

$is-color-heading: #fffffe;
$is-color-paragraph: #94a1b2;
$is-color-button: #fffffe;

/* Illustration */
$is-color-stroke: #010101;
$is-color-main: #fffffe;
$is-color-highlight: #7f5af0;
$is-color-secondary: #72757e;
$is-color-tertiary: #2cb67d;
